@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Baloo Tamma 2", cursive;
}

body::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: url(pic4.jpg) repeat-x center center/cover;
  z-index: -1;
  opacity: 0.8;
  font-family: "Baloo Tamma 2", cursive;
  height: 350%;
}
.styling {
  margin: 3px auto;
  padding: 6px 18px;
  border: 2px solid black;
  background: aquamarine;
  font-family: "Baloo Tamma 2", cursive;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
  width: 32%;
}

.heading {
  font-size: 36px;
  font-family: "Baloo Tamma 2", cursive;
  font: bold;
  color: revert;
}

.heading2 {
  font-size: 19px;
  font-family: "Baloo Tamma 2", cursive;
  color: black;
  font: bold;
}
.heading3 {
  font-size: 26px;
  color: blueviolet;
  padding: 6px 18px;
  border: 2px solid black;
  background: aquamarine;
  font-family: "Baloo Tamma 2", cursive;
  border-radius: 12px;
  width: 14%;
}
.tablehead {
  font-size: 19px;
  font-family: "Baloo Tamma 2", cursive;
}


